test/fixtures
test/package-dependency-new
test/package-install
test/package-install-dependencies
test/package-new
test/package-new-from-slug
test/package-parse-author
test/package-parse-name
test/package-parse-version
test/package-url
example
test/package-install-dev-dependencies
deps
*.o
